/П/ПУ/ПУ-74/Факт/Хлам
/практика
/Мусор
/ЭУ/ЭУ-132/Старые версии
/ТУ и БУ/Старье
П/82/2/Непонятные стырае версии

desktop.ini
*.rptconfig
*.sql
*.jasper
*.dropbox
*.docx
*.doc
*.xlsx
*.xls
*.pdf
*.html