/П/ПУ/ПУ-74/Факт/Хлам
/практика
/Мусор
/ЭУ/ЭУ-132/Старые версии
/ТУ и БУ/Старье
П/82/2/Непонятные стырае версии
П/Справка по сопоставлению выполнения работ в составе группы согласно типовым нормам времени/Старые версии
П/Справка по фактическим трудозатратам/Старые версии
П/Контроль ГППР/Сеть/Старые версии
П/Контроль ГППР/Дорога/Старые версии
ТУ и БУ/Старые версии
П/ТСО/Акт/Старые версии
П/ТСО/Ведомости/Ведомость промера зазоров/Старые версии
П/ТСО/Ведомости/Ведомость величины стрел прогиба кривых/Старые версии
П/ТСО/Генеральный осмотр/Главные пути/Старые версии
П/ТСО/План-график/Старые версии
П/ТСО/Тех.Паспорт/КМ/Старые версии
П/ТСО/Тех.Паспорт/ПЧ/Старые версии

desktop.ini
*.rptconfig
*.sql
*.jasper
*.dropbox
*.docx
*.doc
*.xlsx
*.xls
*.pdf
*.html