/Мусор
/П/82/2/Непонятные стырае версии
/П/Контроль ГППР/Дорога/Старые версии
/П/Контроль ГППР/Сеть/Старые версии
/П/Контроль заполнения/Контроль ГППР/Дорога/Старые версии
/П/Контроль заполнения/Контроль ГППР/Сеть/Старые версии
/П/ПУ/ПУ-74/Факт/Хлам
/П/Справка по сопоставлению выполнения работ в составе группы согласно типовым нормам времени/Старые версии
/П/Справка по фактическим трудозатратам/Старые версии
/П/Справки/Справка по сопоставлению выполнения работ в составе группы согласно типовым нормам времени/Старые версии
/П/Справки/Справка по фактическим трудозатратам/Старые версии
/П/ТСО/Акт/Старые версии
/П/ТСО/Ведомости/Ведомость величины стрел прогиба кривых/Старые версии
/П/ТСО/Ведомости/Ведомость промера зазоров/Старые версии
/П/ТСО/Генеральный осмотр/Главные пути/Старые версии
/П/ТСО/Генеральный осмотр/Подъездные пути/Старые версии
/П/ТСО/Генеральный осмотр/Приемо-отправочные/Старые версии
/П/ТСО/Контроль заполнения данных по генеральным осмотрам/Старые версии
/П/ТСО/План-график/Старые версии
/П/ТСО/Тех.Паспорт/КМ/Старые версии
/П/ТСО/Тех.Паспорт/ПЧ/Старые версии
/П/ТСО/Тех.Паспорт/ПД/Старые версии
/практика
/Прием-передача объекта основных средств/Старые версии
/ТУ и БУ/Старые версии
/ТУ и БУ/Старье
/ЭУ/ЭУ-132/Старые версии
/ЭУ/ЭУ-99/Старая разработка

desktop.ini
*.rptconfig
*.sql
*.jasper
*.dropbox
*.docx
*.doc
*.xlsx
*.xls
*.pdf
*.html
*.lnk